.pruneBackground {
    background-color: #3b3a53;
}

.invisibleStart {
  display: none;
}

.hobbycard {
  min-width: 280px;
}

.pbcard {
  min-width: 271px;
}

.personalien {
  min-width: auto;
}

.startcolumnwidth {
  width: 200px;
}

@media only screen and (max-width: 760px)  {
  .startcolumnwidth {
    width: 100px;
  }
}

@media only screen and (max-width: 575px)  {
  .messages {
    max-width: 430px;
  }
}

@media only screen and (max-width: 430px)  {
  body {
    font-size: 0.9rem;
  }
  .startcolumnwidth {
    width: 80px;
  }
  .messages {
    width: auto !important;
  }
  .messages div {
    width: fit-content !important;
    height: auto !important;
  }
  .messages .is-loading {
    width: 4rem !important;
    height: 2.25rem !important;
  }
  .messages span {
    width: auto !important;
    height: auto !important;
  }
  .card-body {
    padding: 0.7rem;
  }
  .table td {
   padding: 0.2rem; 
  }
  .mt-4 {
    margin-top: 1rem !important;
  }
  .mt-5 {
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 380px) {
  body {
    font-size: 0.8rem;
  }
}

/*Chatbot Animation*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.messages {
    overflow: auto;
    width: 120vw;
    max-height: 100vh;
    padding: 1rem .9rem;
  }
  .bubble {
    overflow: hidden;
    display: inline-block;
    margin: 0 0 .5rem 0;
    padding: .5rem .85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    transform-origin: 0 100%;
    vertical-align: middle;
    transition: border-radius .25s ease-out .075s;
    max-width: 400px;
  }
  .bubble.left.cornered {
    border-bottom-left-radius: 0;
  }
  .bubble.left {
    background: rgba(206,206,206,0.50);
  }
  .bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -.5rem;
    width: .5rem;
    height: .5rem;
    background-image: url(assets/corner.svg);
    background-size: .5rem .5rem;
    background-position: .5rem 0;
    background-repeat: no-repeat;
    transition: background-position .15s ease-in;
  }
  .bubble.cornered:after {
    background-position: 0 0;
  }
  .bubble span {
    display: block;
  }
  .bubble span.message {
    opacity: 0;
  }
  .bubble a {
    color: #0076FF;
  }
  .bubble .loading {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    line-height: 1rem;
  }
  .bubble .loading b {
    display: inline-block;
    color: rgba(0,0,0,.5);
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  * {  box-sizing: border-box;
  }
  img {
    vertical-align: middle;
  }
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  /* Next & previous buttons */
  .prev,.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {content: "";display: table;clear: both;}
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }